body {
  background-color: beige;
}

.cabecalho {
  height: 90vh;
}

/*alinhamento vertical para display:block*/
.container-centralizar {
  position: relative;

}

.conteudo-centralizar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bg-palestra {
  background-color: goldenrod;
}
.bg-oficina {
  background-color: mediumpurple;
}
.bg-atividade {
 background-color: LightSlateGray;
}
